header {
  background-color: rgb(238, 196, 145);
  display: flex;
  justify-content: left;
}

.item {
  margin-right: 30px;
}

section h1 {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding-left: 200px;
  color: black;
}

.logo {
  width: 15%;
  padding-left: 10px;
}

.total-items {
  font-size: 20px;
}

#items {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-dishes {
  display: flex;
  align-items: baseline;
}

.item-like {
  display: flex;
  flex-direction: column;
}

.meal-img {
  width: 200px;
}

.heart {
  width: 30px;
}

.btn {
  width: 40%;
  padding: 10px;
}

footer {
  justify-content: center;
}

footer h4 {
  color: black;
}

.btn-comment {
  background-color: rgb(169, 173, 241);
  color: #31287e;
  border: 3px solid rgb(109, 90, 216);
  border-radius: 20%;
}

.btn-comment:hover {
  background-color: #282e7e;
  color: white;
  border: none;
}

#popup-comment {
  display: none;
}
