header {
  background-color: rgb(238, 196, 145);
  display: flex;
  justify-content: left;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
}

.item {
  margin-right: 30px;
}
